/* BACKGROUND PICTURE */
body {
    background: url("image.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* CUSTOMISATION OF THE SUBMIT BUTTON */
input[type=submit] {
    display: inline-grid;
    padding: 0.5em 1.5em;
    border: 0;
    background-color: rgb(232,229,223);
    border-radius: 5px;
    position: fixed;
    align-self: center;
}

input[type=submit]:hover {
    color: white;
    background-color: rgb(165, 162, 155);
    animation: custom ease-in-out 0.2s;
    cursor: pointer;
}

/* CUSTOM ANIMATION ON MOUSE HOVER */ 
@keyframes custom {
    50% {
        background-color: rgb(124, 122, 117);
        transform: scale(1.05);
    }
}


/* MAIN DIV SETTINGS*/
div {
    position: fixed;
    width: 35%;
    height: 65%;
    background-color: white;
    box-shadow: inset;
    top: 17.5%;
    left: 32.5%;
}

/* INPUT FIELDS */
input[type=text], input[type=password] {
    width: 92%;
    padding: 15px;
    margin: 1%;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

label {
    margin: 1%
}

p[name=message] {
    color: red;
}