<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <script src="/js/main.js"></script>
</head>
<body>
    <h1>Spring Boot!</h1>
   
    <h3 th:text="'Today is: ' + ${date}"></h3>
    <table>
        <tr>
            <th>Email</th>
            <th>Password</th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.getEmail()}"></td>
            <td th:text="${user.getPassword()}"></td>
        </tr>
    </table>
</body>
</html>