<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/registered.css">
    <script src="/js/registered.js"></script>
    <title>Main Page</title>
</head>
<body>
    <div class="main-page">
        <form action="/addTodolist" method="get">
            <input type="hidden" th:value="${id}" name="id"> 
            <input type="text" name="title" required> <br>
            <input type="submit" value="Add To-Do-List" class="main-input">
            <h1 th:text="${message}"></h1>
        </form>
        <form action="/log-out" method="get">
            <input type="submit" value="Log-out" class="log-out">
        </form>
    </div>
    <div class="main-list">
        <ul>
            <li th:each="todolist: ${todolists}">
                <div id="todolist" class="todolist">
                    <form action="/resend" method="get">
                        <input type="hidden" th:value="${todolist.id}" name="listid">
                        <input type="submit" class="fill-div" th:value="${todolist.title}">
                    </form>
                </div>
            </li>
        </ul>
    </div>
</body>
</html>