<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" type="text/css" href="/css/register.css">
</head>
<body>
    <div> 
        <form action="/registerUser" method="get">
            <label for="email">Email</label>
            <input type="text" placeholder="Enter email" name="email" id="email" required>
            <label for="password">Password</label>
            <input type="password" placeholder="Enter password" name="password" id="password" required>
            <label for="psw-repeat">Repeat Password</label>
            <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required> <br>
            <input type="submit" value="Register"> <br>            
            <p>Already have an account? <a href="/login?message=">Sign in</a>.</p>
            <p th:text="${message}" name="message"></p>
        </form>
    </div>
    <!-- <button name="registered" value="[email]">
        Click Me!
    </button> -->
    <!-- <a href="/test?email=email" target="_blank">
    </a> -->
</body>
</html>