<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/registered.js"></script>
    <title>Document</title>
</head>
<body>
    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <input type="text" id="addTime" name="addTime" placeholder="00 : 00 : 00" 
        pattern="^[0-9]{1,6}$" 
        title="You can only enter numbers, with a minimal of 1 characters 
        upto 6 characters are accepted."
        class="addTime"
        oninput="addTab();">
    <input type="submit" value="add time" id="submittime">
</body>
</html>
<style>

input {
    display: inline-block;
}
span {
    position: absolute;
    display: block;
}
</style>