<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDoList</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div class="filter-condition">
        <span>View As a</span>
        <select name="" id="select">
            <option value="Default">Default</option>
            <option value="a-z">A-Z</option>
            <option value="z-a">Z-A</option>
            <option value="LowToHigh">Low to high</option>
            <option value="HighToLow">High to low</option>
        </select>
    </div>
    <table class="listHolder">
        <ul class="list">
            <li th:each="task: ${tasks}" class="task" data-name="" data-time="" data-id="">
                <p th:text="${task.timer}" class="timer__time" id="time" style="visibility: hidden;"></p>
                <p th:text="${task.title}" class="task__name" id="name"></p>
                <div class="timer"></div>
                <form action="/deleteTask" method="get" class="delete__button">
                    <input type="hidden" th:value="${task.id}" name="taskid">
                </form>
            </li>
        </ul>
    </table>
    <input type="text" id="search-item" class="data__search" placeholder="Search..." onkeyup="search()">
    <form action="/addTask" method="get">
        <input type="hidden" th:value="${listid}" name="listid" id="listid"> 

        <input type="text" id="addInput" name="addInput" placeholder="Input task"> <br>
        <input type="text" id="addTime" name="addTime" placeholder="00 : 00 : 00" 
        pattern="^[0-9]{1,6}$" 
        title="You can only enter numbers, with a minimal of 1 characters 
        upto 6 characters are accepted."> <br>
        <input type="submit" id="addBtn" name="addBtn" class="btn-primary" value="Add Task">
        <h1 th:text="${message}"></h1>
    </form>
</body>

<style>
    body {
    	position: relative;
        background: #dddddd;
    	margin: 15px;
	}

    .btn-icon.remove:before {
    	content: '\f2ed';
    }

    .timer {
        font-family: sans-serif;
        display: inline-block;
        padding: 12px 16px;
        border-radius: 30px;
        background: white;
    }

    .timer__part {
        font-size: 18px;
        font-weight: bold;
        color:black;
    }

    .timer__btn {
        width: 35px;
        height: 35px;
        position: center;
        margin-left: 16px;
        border-radius: 50%;
        border: none;
        color: white;
        background: #8208e6;
        cursor: pointer;
    }

    .timer__btn--start {
        content: 'play_arrow';
        width: 35px;
        height: 35px;
        position: center;
        background: #00b84c;
    }

    .timer__btn--stop {
        width: 35px;
        height: 35px;
        position: center;
        background: #ff0256;
    }

    ul {
        list-style-type: none;
        list-style-position: outside;
    }

    li {
        font-weight: bold;
        font-family: 'Courier New', monospace;
        color: white;
        background-color: grey;
        padding:20px;
        margin: 15px;
        border-radius: 5px;
    }
</style>
<script>





class Timer {
    constructor(root, timerTime) {
        root.innerHTML = Timer.getHTML();
        this.el = {
            seconds: root.querySelector(".timer__part--seconds"),
            minutes: root.querySelector(".timer__part--minutes"),
            hours: root.querySelector(".timer__part--hours"),
            control: root.querySelector(".timer__btn--control"),
            reset: root.querySelector(".timer__btn--reset"),
        };
        
        this.interval = null;
        this.remainingSeconds = timerTime;
        this.updateInterfaceTime();
        
        this.el.control.addEventListener("click", () => {
            if (this.interval === null) {
                this.start();
            } else {
                    this.stop();
            }
        });
        
        this.el.reset.addEventListener("click", () => {
            this.stop();
            this.remainingSeconds = timerTime;
            this.updateInterfaceTime();
        });
    }
        
    updateInterfaceTime() {
        const hours = Math.floor(this.remainingSeconds / 3600);
        const remainder = this.remainingSeconds - hours * 3600;
        const minutes = Math.floor(remainder / 60);
        const seconds = remainder - (minutes * 60);
            
        this.el.hours.textContent = hours.toString().padStart(2, "0");
        this.el.minutes.textContent = minutes.toString().padStart(2, "0");
        this.el.seconds.textContent = seconds.toString().padStart(2, "0");
    }
        
    updateInterfaceControls() {
        if (this.interval === null) {
            this.el.control.innerHTML = `<span class="material-icons">play_arrow</span>`;
            this.el.control.classList.add("timer__btn--start");
            this.el.control.classList.remove("timer__btn--stop");
        } else {
            this.el.control.innerHTML = `<span class="material-icons">pause</span>`;
            this.el.control.classList.add("timer__btn--stop");
            this.el.control.classList.remove("timer__btn--start");
        }
    }
        
    start() {
        if (this.remainingSeconds === 0) return;
        this.interval = setInterval(() => {
            this.remainingSeconds--;
                this.updateInterfaceTime();
                if (this.remainingSeconds === 0) {
                    this.stop();
                }
            }, 1000);
        
        this.updateInterfaceControls();
    }
        
    stop() {
        clearInterval(this.interval);
        this.interval = null;
        this.updateInterfaceControls();
    }
    
    static getHTML() {
        return `
            <span class="timer__part timer__part--hours">00</span>
            <span class="timer__part">:</span>
            <span class="timer__part timer__part--minutes">00</span>
            <span class="timer__part">:</span>
            <span class="timer__part timer__part--seconds">00</span>
            <button type="button" class="timer__btn timer__btn--control timer__btn--start">
                <span class="material-icons">play_arrow</span>
            </button>
            <button type="button" class="timer__btn timer__btn--reset">
                <span class="material-icons">timer</span>
            </button>
        `;
    }
}

const divList = document.querySelector('.listHolder');
    
    
const listUl = document.querySelector('.list');
const lis = listUl.children;

function createTimer(li) {
	const del_buttons = document.querySelectorAll(".delete__button");
	const remove = document.createElement('button');
    remove.className = 'btn-icon remove';
    del_buttons[i].appendChild(remove);
	
    const specTimer = document.querySelectorAll(".timer");
    const timerTime = document.querySelectorAll(".timer__time");

    new Timer(specTimer[i], timerTime[i].textContent);
    return li;
}

for (var i = 0; i < lis.length; i++) {
	createTimer(lis[i]);
}


divList.addEventListener('click', (event) => {
	if (event.target.tagName === 'BUTTON') {
    	const button = event.target;
    	const li = button.parentNode;
    	const ul = li.parentNode;
        if (button.className === 'btn-icon remove') {
        	ul.removeChild(li);
          	counter--;
    	} 
    }
});


function search() {
    let searchbar = document.getElementById("search-item").value.toUpperCase();
    let task = document.querySelectorAll(".task");
    let text = document.getElementsByClassName("task__name");

    for(var i = 0;i<=text.length;i++){
        let a=task[i].getElementsByClassName("task__name")[0];
        let value=a.innerHTML || a.innerText || a.textContent;

        if(value.toUpperCase().indexOf(searchbar) > -1) {
            task[i].style.display="";
        } else {
            task[i].style.display="none";
        }
    }
}



let field = document.querySelector(".list");
let li = Array.from(field.children);
let select = document.getElementById("select");
let ar = [];
let ar1 = [];
let ar2 = [];
let a = 0;

for(let i of li)
{
    const first = i.getElementsByTagName("p")[0];
    const x = first.textContent.trim();
    const y = Number(x.substring());
    i.setAttribute("data-time",y);
    ar.push(i);
}

for(let z of li)
{
    const last = z.getElementsByTagName("p")[1];
    const x1 = last.textContent.trim();
    const y1 = String(x1.substring());
    z.setAttribute("data-name",y1);
    ar1.push(z);
}

for(let v of li)
{
    v.setAttribute("data-id",a);
    a++;
    ar2.push(v);
}

select.onchange = sortingValue;

function sortingValue(){
    
    if (this.value === 'Default') {
        SortElem2(field, li, true)
    }
    if (this.value === 'a-z') {
        SortElem1(field, li, true)
    }
    if (this.value === 'z-a') {
        SortElem1(field, li, false)
    }
    if (this.value === 'LowToHigh') {
        SortElem(field, li, true)
    }
    if (this.value === 'HighToLow') {
        SortElem(field, li, false)
    }
}
function SortElem(field,li, asc){
    let  dm, sortli;
    dm = asc ? 1 : -1;
    sortli = li.sort((a, b)=>{
        const ax = a.getAttribute('data-time');
        const bx = b.getAttribute('data-time');
        return ax > bx ? (1*dm) : (-1*dm);
    });
    while (field.firstChild) {
        field.removeChild(field.firstChild);
    }
    field.append(...sortli);	 
}
        
function SortElem1(field,li,asc) {
    let  dm, sortli;
    dm = asc ? 1 : -1;
    sortli = li.sort((a, b)=>{
        const ay = a.getAttribute('data-name');
        const by = b.getAttribute('data-name');
        return ay > by ? (1*dm) : (-1*dm);
    });
    while (field.firstChild) {
        field.removeChild(field.firstChild);
    }
    field.append(...sortli);
}

function SortElem2(field,li,asc) {
    let  dm, sortli;
    dm = asc ? 1 : -1;
    sortli = li.sort((a, b)=>{
        const ay = a.getAttribute('data-id');
        const by = b.getAttribute('data-id');
        return ay > by ? (1*dm) : (-1*dm);
    });
    while (field.firstChild) {
        field.removeChild(field.firstChild);
    }
    field.append(...sortli);
}
</script>